#outer-div{
	width: 80%;
	height:250px;
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
}

#main-content{
	margin:0;
	padding:0;
	background-color:rgb(245,248,251);
	height: 130px;
	border: 1px solid rgb(205,220,235);
	border-bottom: 0;
}

.star{
	margin-left:100px;
	color: red;
}

.errorMessage{
	color: red;
	margin-left: 10px;
}

.successMessage{
	color: green;
	margin-left: 10px;
}

table{	
	margin-left: 20px;
}

#main-content table {
	margin-top: 20px;
}

#main-content input{
	margin-left:10px;
}

#button-area{
	background-color: rgb(235,241,247);
	border: 1px solid rgb(205,220,235);
	height: 50px;
}

#button-area input{
	margin-left: 150px;
	margin-top: 15px;
	margin-right: 10px;
}